/* Step2. ページ構成とスタイルの下準備
/* h1、p、body要素の上下左右余白（margin）を0にしてください。
また、記事内全てのp要素とa要素のフォントサイズを20pxとします。 */
h1 ,p, body  {
    margin: 0;
}

a {
    font-size: 20px;
}

/*Step3. header部分の作成 */
header {
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}

header > h1 {
    color:rgb(255, 255, 255);
}

/* Step4. main内スタイルの設定 */

main {
    padding: 10px;
}

/* 画面幅769px以上の場合 */
@media screen and (min-width: 769px) {
    p {
        font-size: 20px;
    }

    #parent {
        display: flex;
        justify-content: space-around;
    }

    .contents {
        border: 3px solid rgb(238, 204, 204);
        flex-basis: 25%;
        padding: 10px 15px 10px 15px;
        margin: 20px 0 20px 0;
        text-align:center;
    }

    .contents > h2 {
        border-bottom: 3px dotted rgb(236,122,122)
    }

    .contents > h2::before {
        content: "●";
        color: rgb(239,11,139);
    }

    .contents > p:nth-of-type(2)::first-letter {
        font-weight:bold;
        color: rgb(97, 206, 249);
    }

    .contents > img {
        margin: 10px 0 10px 0;
        width: 70%;
    }

}

/* 画面幅768px以下の場合 */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }    

    p {
        font-size: 25px;
    }

    #parent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contents {
        border: 3px solid rgb(238, 204, 204);
        flex-basis: 25%;
        padding: 10px 15px 10px 15px;
        margin: 20px 0 20px 0;
        text-align:center;
    }

    .contents > h2 {
        border-bottom: 3px dotted rgb(236,122,122)
    }

    .contents > h2::before {
        content: "●";
        color: rgb(239,11,139);
    }

    .contents > p:nth-of-type(2)::first-letter {
        font-weight:bold;
        color: rgb(97, 206, 249);
    }

    .contents > img {
        margin: 10px 0 10px 0;
        width: 70%;
    }

}


/* Step5. フッター内スタイルの設定 */
footer {
    background-color: rgb(244,79,79);
    text-align: center;
}

/* 文字色はrgb(255, 255, 255)にします。 */
footer > a {
    color: rgb(255,255,255);

}
/* マウスカーソルが乗ると文字色がrgb(245, 178, 168)に変化するようにします。 */
footer > a:hover {
    color: rgb(245,178,168);

}

/* 訪問済みリンクの文字色がrgb(193, 234, 251)に変化するようにします。 */
footer > a:visited {
    color: rgb(193, 234, 251);
}

